{% extends 'base.html.twig' %}


{% block body %}
<h1>Création d'un event !</h1>
<h1>Création d'une categorie !</h1>
{{ form_start(formEvent) }}
        {{ form_row(formEvent.name, {'attr': {'placeholder': "Event Title"}}) }}
        {{ form_row(formEvent.details, {'attr': {'placeholder': "Leave here some details."}}) }}
        {{ form_row(formEvent.category) }}
        {{ form_row(formEvent.day) }}
        {{ form_row(formEvent.street_address, {'attr': {'placeholder': "Street Address"}}) }}
        {{ form_row(formEvent.city, {'attr': {'placeholder': "Paris"}}) }}
        {{ form_row(formEvent.zipcode, {'attr': {'placeholder': "78711"}}) }}
        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Save modifications
            {% else %}
                Save new event
            {% endif %}
        </button>
{{ form_end(formEvent) }}
{% endblock %}