{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List Event <a href="/event/create/" class="btn btn-light text-right">Create</a></h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Category</th>
                    <th>Day</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %} 
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.category.name }}</td>
                        <td>{{ event.day | date('d/m/Y H:i') }}</td>
                        <td class="text-right"><a href="/event/edit/{{event.id}}" class="btn btn-light">Edit</a><a href="/event/edit/{{event.id}}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
