{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List Category <a href="{{ path('category_create') }}" class="btn btn-primary pull-right">Create new</a></h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td class="text-right"><a href="/category/edit/{{category.id}}" class="btn btn-light">Edit</a><a href="/category/edit/{{category.id}}" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody> 
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
